<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tydic.ares.mapper.DemoMapper">

    <update id="testTeledbUpdateBalance">
        update acct_balance_00 set balance = #{balance} where  route_id = '100000000'  and ACCT_BALANCE_ID =  '100000000' and balance = #{oldBalance}
    </update>

    <select id="testTeledbQueryBalance" resultType="com.tydic.ares.entity.AcctBalanceEntity">
        select ACCT_BALANCE_ID,route_id,balance from ACCT_BALANCE_00 where route_id = '100000000'  and ACCT_BALANCE_ID =  '100000000'
    </select>

    <select id="findStudentByName" parameterType="com.tydic.ares.entity.Student"
            resultType="com.tydic.ares.entity.Student">
        SELECT student_id, class_id, student_name, student_sex, student_age
        FROM student
        WHERE student_name LIKE CONCAT('%', #{studentName}, '%')
    </select>

    <resultMap id="studentMap" type="com.tydic.ares.entity.Student">
        <result property="studentId" column="student_id"/>
        <result property="classId" column="class_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentSex" column="student_sex"/>
        <result property="studentAge" column="student_age"/>
    </resultMap>
    <select id="findStudentByNameTest" resultMap="studentMap">
        SELECT student_id, class_id, student_name, student_sex, student_age
        FROM student
        WHERE class_id = #{classId}
    </select>

    <!-- 新增一个学生信息-->
    <insert id="addStudent" parameterType="com.tydic.ares.entity.Student">
        INSERT INTO student (student_id, class_id, student_name, student_sex, student_age)
        VALUES (#{studentId}, #{classId}, #{studentName}, #{studentSex}, #{studentAge})
    </insert>
    <insert id="addStudentBatch">
        INSERT INTO student (student_id, class_id, student_name, student_sex, student_age)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.studentId}, #{item.classId}, #{item.studentName}, #{item.studentSex}, #{item.studentAge})
        </foreach>
    </insert>
</mapper>

